/* ------------------------------------ Font ------------------------------------  */
@font-face {
  font-family: 'ibm_regular';
  src: url('./assets/font/ibm/IBMPlexSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ibm_italic';
  src: url('./assets/font/ibm/IBMPlexSans-Italic.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mokoto';
  src: url('./assets/font/mokoto/glitch-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mokoto_glitch_outline';
  src: url('./assets/font/mokoto/glitch_mark_outline-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mokoto_glitch_mk1';
  src: url('./assets/font/mokoto/glitch_mark_1-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mokoto_glitch_mk2';
  src: url('./assets/font/mokoto/glitch_mark_2-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* --------------------------------------------------------------------------------*/
html {
  --imp-text-purple : rgb(161, 126, 255);
  --imp-text-blue: #37f5f5;
  --imp-text-default: white;
}

.default {
  color: var(--imp-text-default);
  text-shadow: 0 0 15px #10001e;
}

.blue {
  color: var(--imp-text-blue);
  text-shadow: 0 0 15px #10001e;
}

.purple {
  color: var(--imp-text-purple );
  text-shadow: 0 0 15px #10001e;
}

.neon {
  background: #8134CF;
  background: -webkit-radial-gradient(circle farthest-side at top center, #8134CF 15%, #37f5f5 82%);
  background: -moz-radial-gradient(circle farthest-side at top center, #8134CF 15%, #37f5f5 82%);
  background: radial-gradient(circle farthest-side at top center, #8134CF 15%, #37f5f5 82%);
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.glitch {
  font-family: 'mokoto_glitch_mk2', sans-serif;
}

.noglitch {
  font-family: 'mokoto', sans-serif;
}

body {
  margin: 0;
  font-family: 'ibm_regular', sans-serif;
  color: var(--imp-text-default);
}

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(./assets/background/purple.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

a {
  text-decoration: none;
  color: inherit;
}

.img-fluid {
  max-height: 100%;
}

.heading {
  font-family: 'mokoto_glitch_mk2', sans-serif;
  display: inline-block;
  font-size: 2.3em;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.content {
  padding: 9rem 0 2rem !important;
  color: whitesmoke;
  text-align: left;
}

/* ------------------------------------preloader------------------------------------  */
#preloader {
  background-color: rgb(29, 21, 36);
  background-image: url(./assets/img/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* ------------------------------------ Navbar------------------------------------  */
.sticky {
  background-color: rgba(170, 127, 247, 0.22);
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
  backdrop-filter: blur(15px);
  transition: all 0.5s ease 0s;
}

.navbar {
  position: fixed;
  padding: 0.3rem 2rem;
  font-size: 1.2rem;
}

.navbar-brand {
  color: #ffffff;
}

.logo {
  height: 6vw;
  width: 6vw;
  min-height: 50px;
  min-width: 50px;
  max-height: 150px;
  max-width: 150px;
}

.navbar-nav .nav-link {
  color: #ffffff;
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav-link {
  padding: 0.8rem 1rem;
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item .nav-link-custom {
  font-weight: 500;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
  font-size: 1.4rem;
}

.nav-link-custom .nav-icon {
  transition: all 0.1s ease 0s;
  margin-bottom: 4px; 
  margin-right: 5px;
}

.nav-link-custom:hover .nav-icon {
  box-shadow: 0px 0px 30px rgb(130, 15, 201);
}

.navbar-nav .nav-link.active, .navbar-nav .show >.nav-link {
  color: white;
}

.dropdown-menu{
  background-color: rgba(170, 140, 234, 0.6);
}

.dropdown-item{
  color: white;
}

.dropdown-item:hover {
  color: white;
  background-color: #2f244cd4;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: rgba(170, 140, 234, 0.45);
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}
@media (max-width: 1024px) {
  .navbar {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: rgba(170, 140, 234, 0.45);
    backdrop-filter: blur(15px);
  }
  
  .navbar-toggler {
    font-size: 1.2rem;
  }
  
  .navbar-nav .nav-item {
    margin-left: 30px;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.5rem;
  }
  
  .navbar-brand {
    font-size: 1.7rem;
  }
  
  .logo {
    height: 7vw;
    width: 7vw;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    background-color: rgba(170, 140, 234, 0.45);
  }
  
  .navbar-toggler {
    font-size: 1.4rem;
  }
  
  .navbar-nav .nav-item {
    margin-left: 40px;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.8rem;
  }
  
  .navbar-brand {
    font-size: 2rem;
  }
  
  .logo {
    height: 10vw;
    width: 10vw;
  }
}

/* ------------------------------------ Home -----------------------------------------  */
.home-section {
  padding-bottom: 30px;
  padding-top: 30px;
  position: relative;
  z-index: 1;
}
.home-description {
  color: #e8e1fb;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.517);
  border-radius: 10px;
  box-shadow: 4px 5px 4px 3px rgb(89 4 168 / 14%);
}

.home-description-title {
  font-family: 'mokoto', sans-serif;
  text-shadow: 0 0 15px #10001e;
  font-size: 1.5rem;
  padding-top: 15px;
  padding-bottom: 10px;
}

.home-description-body {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.5em;
  font-weight: 500;
}

.home-header {
  font-family: 'mokoto', sans-serif;
}

.heading {
  font-size: 2rem;
}
@media (min-width: 768px) {
  .home-header .heading {
    font-size: 2.4rem;
  }
}

/* -------------------------------------------  */

.home-about-section {
  padding-bottom: 70px;
  padding-top: 70px;
  background-image:  url(./assets/background/diamond.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home-terminal {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.writing-container {
  text-align: left;
  background-color: #000;
  color: #0f0;
  padding: 20px;
  border: 5px solid rgba(200, 137, 230, 0.637);
  border-radius: 7px;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  max-width: 800px;
  white-space: pre-wrap;
  overflow-x: auto;
}

.home-image {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.avatar {
  border-radius: 50%;
}

.icon-colour {
  color: white;
  text-align: center;
}

.home-about-social-links {
  padding-top: 15px;
  display: inline-block;
  position: relative;
}


.home-social-icons {
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background: rgb(96, 71, 139);
  border-radius: 50%;
  transition: 0.5s;
  color: white;
}


.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

a:hover {
  color: var(--imp-text-blue);
}

.home-social-icons:hover {
  box-shadow: 0 0 15px var(--imp-text-blue);
}

@media screen and (min-width: 768px) {
  .home-about-description {
    align-self: center;
  }
}

/* ------------------------------------ About-------------------------------------------  */
.about-section {
  z-index: -1;
  padding-bottom: 30px;
  padding-top: 30px;
  position: relative;
  z-index: 1;
}

.about-row {
  justify-content:center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.about-img {
  padding-bottom: 15px;
}

.about-card-list {
  margin: 10px;
  color: white;
}


/* -------------------card-----------------------  */
.quote-card-view {
  background-color: rgba(0, 0, 0, 0.566);
  border: 2px solid rgba(200, 137, 230, 0.637);
  border-radius: 10px;
  box-shadow: 4px 5px 4px 3px rgb(89 4 168 / 14%);
  padding: 1em;
}

.about-card-body {
  text-align: left;
  line-height: 1.5;
  color: white;
}

.about-card-body p {
  font-size: 1.4rem;
  font-weight: 500;
}

.about-activity {
  color: white;
  list-style: none;
  text-align: left;
  padding-left: 1px;
  font-size: 1.4rem;
}
.quote {
  font-family: 'ibm_italic', sans-serif;
  font-size: 1.2rem !important;
  padding-left: 3rem;
  padding-top: 10px;
}

/* -------------------skills-----------------------  */

.competency-section {
  padding: 3em 0 1em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.tech-stack-container {
  justify-content: center;
  padding-bottom: 50px;
}

.tech-icons {
  font-size: 4.5em;
  margin: 15px;
  padding: 10px;
  border: 2px solid rgba(200, 137, 230, 0.637);
  border-radius: 5px;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
  display: table;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: all 0.4s ease 0s;
  background-color: rgba(0, 0, 0, 0.566);
}

.tech-icons:hover {
  transform: scale(1.1);
}

.tech-icon-images {
  padding: 20px;
  line-height: 1.6;
}

/* ------------------------------------ Projects -----------------------------------------  */

.project-section {
  padding-top: 160px;
  padding-bottom: 30px;
  background-size: cover;
  color: white;
}

.project-heading {
  font-size: 2.3em;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}

.project-card {
  padding: 3em 1.5em;
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card-container {
  display: flex;
  align-items: stretch;
  margin-bottom: 20px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;

}

.project-card-view {
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.14);
  background-color: rgba(0, 0, 0, 0.515);
  transition: all 0.5s ease 0s;
  border-radius: 10px;
  color: white;
  height: 100%;
}

.project-card-view:hover {
  transform: scale(1.1);
}

.card-img-top {
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.project-details-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #226f79;
  font-weight: bold;
  text-decoration: none;
  padding-top: 10px;
}

.project-details-link:hover {
  color: #00e1ff;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 10px;
}

/* -----------------------Details-----------------------------  */

.back-button {
  margin-top: 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  transition: 0.5s;
  color: white;
}

.back-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.details-section {
  padding-bottom: 30px;
  background-size: cover;
  color: white;
  position: relative;
  z-index: 1;
}

.details {
  text-align: center;
}

.details-title {
  font-family: 'mokoto', sans-serif;
  color: rgb(103, 63, 215);
  font-size: 1.5rem;
  padding-top: 15px;
  padding-bottom: 10px;
}

.description-bloc {
  backdrop-filter: blur(3px) saturate(107%);
  -webkit-backdrop-filter: blur(3px) saturate(107%);
  background-color: rgba(15, 11, 20, 0.4);
  border-radius: 12px;
  border: 2px solid rgba(200, 137, 230, 0.637);
  box-shadow: 4px 5px 4px 3px rgb(89 4 168 / 14%);
}

.project-desc {
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 20px;
  line-height: 1.8;
  color: white;
}


.project-desc-link {
  padding-top: 15px;
  position: relative;
}

.project-img{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.details-image {
  border-radius: 12px;
}

.stack-bloc {
  color: #e8e1fb;
  padding-top: 10px;
}

.details-icons {
  padding: 10px 20px;
  border: 2px solid rgba(200, 137, 230, 0.637);
  border-radius: 5px;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
  text-align: center;
  transition: all 0.4s ease 0s;
  background-color: rgba(0, 0, 0, 0.566);
  font-size: 2.5rem;
  box-sizing: border-box;
}

.button-list {
  display: flex;
}

.project-icons  {
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background: rgb(59, 44, 85);
  border-radius: 50%;
  transition: 0.5s;
  color: white;
}

.project-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.project-icons:hover {
  box-shadow: 0 0 15px var(--imp-text-blue);
}

.btn-primary {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  padding: 0.5em 1em;
  text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  transition: all 0.5s ease 0s;
}

.btn-primary > svg {
  position: relative;
  top: -2px;
}

.btn-primary:hover {
  box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
  transition: all 0.1s ease 0s;
}

@media (max-width: 576px) {
  .project-card {
    padding: 1em;
  }

  .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  
  }
  .card-img-top {
    padding: 10px;
  }

  .project-details {
    justify-content: center;
    margin-top: 0.5em;
  }

  .project-details-link {
    font-size: 14px;
  }
}
/* ------------------------------------ Contact -----------------------------------------  */

.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-card {
  width: 50%;
  text-align: center;
  border-radius: 1.5em;
  padding: 10px;
  background-color: rgba(15, 11, 20, 0.593);
  box-shadow: 5px 5px 30px rgb(74, 46, 99), -5px -5px 30px rgb(121, 75, 165);
}

.profileimage {
  background-color: transparent;
  border: none;
  margin-top: 20px;
  border-radius: 5em;
  text-align: center;
}

.profile {
  border-radius: 50%;
  width: 60%;
}

.contact-card-info {
  padding-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'ibm_italic', sans-serif;
}

.contact-bar {
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 3em;
  padding: 14px;
  background-color: rgba(44, 32, 59, 0.593);
  box-shadow: 3px 3px 15px rgb(74, 46, 99),
                   -3px -3px 15px rgb(121, 75, 165);
}

.contact-icon {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background: rgb(96, 71, 139);
  border-radius: 50%;
  transition: 0.5s;
  color: white;
}

.contact-icon:hover {
  box-shadow: 0 0 15px var(--imp-text-blue);
}

.bloc-text {
  color: #e8e1fb;
  font-family: 'ibm_italic', sans-serif;
  text-align: center;
  background: rgba(41, 36, 43, 0.35);
  border-radius: 10px;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
}

.contact-title {
  font-family: 'mokoto', sans-serif;
  font-size: 1.5rem;
  padding-top: 15px;
  margin: 0;
}

.contact-bloc {
  margin:auto;
}

@media screen and (max-width: 1200px) {
  .contact-section {
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }

  .contact-section .contact-card {
    width: 100% !important;
    margin: auto;
  }
}

/* --------------------------------------  */

.contact-section {
  padding-bottom: 30px;
  background-size: cover;
  color: white;
  position: relative;
  z-index: 1;
}

.container-form {
  background-color: rgba(15, 11, 20, 0.593);
  border-radius: 10px;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
  padding: 20px;
}

.form-contact {
  padding: 50px;
}

.form-control {
  background-color: rgba(84, 73, 98, 0.593);
  border: none;
  padding: 14px;
  color: white;
  font-size: 1.2em;
  background: linear-gradient(90deg, rgba(255, 254, 250, 0) 0%, rgba(55, 245, 245, 0.543) 27%, rgba(102, 224, 255, 0.3) 63%, rgba(255, 255, 255, 0) 100%),     linear-gradient(0deg, rgba(102, 224, 255, 0.3) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 96%, rgba(102, 224, 255, 0.3) 100%);
  
}

.form-control:focus {
  background-color: rgba(44, 32, 59, 0.593);
  color: white;
}

.form-control::placeholder {
  color: white;
}

.success {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

.error {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* ------------------------------------ Footer---------------------------------------------*/
.footer {
  background-color: rgb(168, 146, 207);
}

.footer-copywright{
  margin-top: 1em;
}

.footer h3 {
  color: white;
  text-shadow: 0 0 15px #8703fb;
  font-size: 1.2rem;
  font-style: italic;
}

.footer-icons {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0;
  text-align: center;
}
.footer-icons svg {
  font-size: 1.2rem;
}

.footer-icons svg:hover {
  box-shadow: 0 0 15px var(--imp-text-blue)
}

.social-icons {
  display: inline-block !important;
  padding-left: 15px;
}


@media (max-width: 767px) {
  .footer-copywright {
    text-align: center;
  }

  .footer-body {
    text-align: center;
  }
}

/* ------------------------------------ Animation ------------------------------------  */
.wave {
  animation-name: wave-animation;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  font-size: 4rem;
  padding-left: 15px;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.glow-on-hover {
  font-family: 'mokoto', sans-serif;
  width: 250px;
  border: none;
  outline: none;
  background: rgb(96, 71, 139);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 6px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #17CF79, #5FFBF1,#8134CF,#D8ACFF, #D16BA5, #eaafc8,#845EC2);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background:rgba(48, 37, 52, 0.243);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
